@page
@model AirBnb.Pages.Listings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ListingUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ListingUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ScrapeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ScrapeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.LastScraped)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.LastScraped)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Space)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Space)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ExperiencesOffered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ExperiencesOffered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.NeighborhoodOverview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.NeighborhoodOverview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Transit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Transit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Access)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Access)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Interaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Interaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HouseRules)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HouseRules)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ThumbnailUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ThumbnailUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.MediumUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.MediumUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.PictureUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.PictureUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.XlPictureUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.XlPictureUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostSince)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostSince)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostAbout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostAbout)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostResponseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostResponseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostResponseRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostResponseRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostAcceptanceRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostAcceptanceRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostIsSuperhost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostIsSuperhost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostThumbnailUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostThumbnailUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostPictureUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostPictureUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostNeighbourhood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostNeighbourhood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostListingsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostListingsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostTotalListingsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostTotalListingsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostVerifications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostVerifications)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostHasProfilePic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostHasProfilePic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HostIdentityVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HostIdentityVerified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Neighbourhood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Neighbourhood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.NeighbourhoodCleansed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.NeighbourhoodCleansed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.NeighbourhoodGroupCleansed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.NeighbourhoodGroupCleansed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Zipcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Zipcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Market)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Market)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.SmartLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.SmartLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.CountryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.CountryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.IsLocationExact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.IsLocationExact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.PropertyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.PropertyType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.RoomType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.RoomType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Accommodates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Accommodates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Bathrooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Bathrooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Bedrooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Bedrooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Beds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Beds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.BedType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.BedType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Amenities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Amenities)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.SquareFeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.SquareFeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.WeeklyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.WeeklyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.MonthlyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.MonthlyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.SecurityDeposit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.SecurityDeposit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.CleaningFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.CleaningFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.GuestsIncluded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.GuestsIncluded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ExtraPeople)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ExtraPeople)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.MinimumNights)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.MinimumNights)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.MaximumNights)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.MaximumNights)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.CalendarUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.CalendarUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HasAvailability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HasAvailability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Availability30)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Availability30)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Availability60)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Availability60)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Availability90)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Availability90)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Availability365)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Availability365)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.CalendarLastScraped)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.CalendarLastScraped)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.NumberOfReviews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.NumberOfReviews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.FirstReview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.FirstReview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.LastReview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.LastReview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ReviewScoresRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ReviewScoresRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ReviewScoresAccuracy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ReviewScoresAccuracy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ReviewScoresCleanliness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ReviewScoresCleanliness)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ReviewScoresCheckin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ReviewScoresCheckin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ReviewScoresCommunication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ReviewScoresCommunication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ReviewScoresLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ReviewScoresLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ReviewScoresValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ReviewScoresValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.RequiresLicense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.RequiresLicense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.License)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.License)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.JurisdictionNames)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.JurisdictionNames)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.InstantBookable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.InstantBookable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.IsBusinessTravelReady)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.IsBusinessTravelReady)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.CancellationPolicy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.CancellationPolicy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.RequireGuestProfilePicture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.RequireGuestProfilePicture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.RequireGuestPhoneVerification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.RequireGuestPhoneVerification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.CalculatedHostListingsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.CalculatedHostListingsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ReviewsPerMonth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ReviewsPerMonth)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Listing?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
